<div class="container">
  <br />
  <form>
    <div class="container">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name"/>
      </div>
      <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="model.description"/>
      </div>
      <div class="form-group">
        <label>Amount:</label>
        <input type="number" class="form-control" name="modey" [(ngModel)]="model.money"/>
      </div>
      <div class="form-group">
        <label>Owe or Recieve?</label><br />
        <div class="row">
          <div class="col">
            <input type="radio" value="false" name="recieveorowe" id="owe" [(ngModel)]="model.income"/>
            <label for="owe">Owe</label>
          </div>
          <div class="col">
            <input type="radio" value="true" name="recieveorowe" id="recieve" [(ngModel)]="model.income" />
            <label for="receive">Recieve</label><br />
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
      <label>Pick a friend? </label>
      <select class="form-control" name="friend"  [(ngModel)]="model.friend">
        <option *ngFor="let friend of friends" value="{{friend['id_']}}"> {{friend['name_']}}</option>
      </select>
    </div>

    <div style="text-align: center;padding: 10pt;">
      <button class="btn btn-dark" (click)="submitData()">
        Create
      </button>
    </div>
  </form>
</div>