<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){
        var otherId = document.getElementById('otherId').value;
        console.log(otherId);
        $("#addFriend").click(function(){
          $.post("/friends/add",{id: "<%= userId%>", other_id: "9f92828a-7493-4f40-8c22-e7c778c0ce32"}, function(data){
                console.log(data);
          });
        });
      });
    </script>
</head>
<body>
<h1>Friends</h1>

<input type="text" id="otherId"></input>
<button id="addFriend">add friend</button>

<% friends.forEach(function(friend) { %>
    <li><%= friend.name %> <input></input> <button> Pay </button> </li>
<% }); %>

<h1><%=err%></h1>
</body>
</html>