<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h1> User name <%= user.name %></h1>
<h1> User name <%= user.email %></h1>

<form action="/friends/<%=user.id%>" action="GET">
    <button>Friends</button>
</form>

<button>Delete account</button>

<h1><%= err %></h1>
</body>
</html>