<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Welcome, <%= user.name %></h1>
    <form action="/user=<%=user.id%>" method="GET">
        <button>Open my profile</button>
    </form>

    

</body>
</html>